<div class="row">
    <div class="col-9 col-md-6">
        <FluentTextField Placeholder="Enter a message to display on the LCD" @oninput="MessageInput" style="width:100%" Appearance="Appearance.Filled" />

        <p>Message length: @LcdService.Message.Length/@LcdService.LcdCapacity()</p>
    </div>
    <div class="col">
        <FluentButton @onclick="LcdService.SendMessageToLcd" Appearance="Appearance.Accent">
            Send
        </FluentButton>
    </div>
</div>

<br />
<FluentButton @onclick="LcdService.LcdBacklightToggle" Appearance="Appearance.Accent">
    LCD toggle <i>backlight/(message-heating)</i>
</FluentButton>
<br />