@using RpiHomeHub.BlazorWeb.Services 
@inject LCD_Service lcdService

<div class="row">
    <div class="col-7">
        <input @oninput="MessageInput" type="text" />
        <p>Message length: @lcdService.Message.Length/@lcdService.LcdCapacity()</p>
        <button class="btn btn-primary" @onclick="lcdService.SendMessageToLcd" type="submit">Send</button>
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="lcdService.LcdBacklightToggle">LCD toggle <i>backlight/(message-heating)</i></button>
    </div>
</div>

@code
{
    [Parameter]
    public int LineWidth { get; set; } = 16;

    [Parameter]
    public int LinesCount { get; set; } = 2;

    protected override Task OnInitializedAsync()
    {
        lcdService.LineWidth = LineWidth;
        lcdService.LinesCount = LinesCount;
        return base.OnInitializedAsync();
    }

    private void MessageInput(ChangeEventArgs e)
    {
        lcdService.Message = e.Value.ToString();
    }
}
