<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RpiHomeHub.BlazorWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/led" Match="NavLinkMatch.All">
                <img src="/icons8-led-diode-32.png" class="icon-image" /> LEDs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lamp" Match="NavLinkMatch.All">
                <img src="/icons8-lamp-32.png" class="icon-image" /> Lamp
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/yeelight" Match="NavLinkMatch.All">
                <img src="/icons8-light-32.png" class="icon-image" /> Yeelight
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ledstrip" Match="NavLinkMatch.All">
                <img src="/icons8-led-bulb-32.png" class="icon-image" /> LED strip
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/heater-lcd" Match="NavLinkMatch.All">
                <img src="/icons8-water-heater-32.png" class="icon-image" /> Heater control, LCD
            </NavLink>
        </li>
    </ul>
    <img src="icon-512.png" class="img-fluid sidebar-icon d-none d-sm-none d-md-block" />
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
