<div class="row">
    <div class="col">
        <h4>Temperature events log: (@GetLinesCount() events)</h4>
    </div>
    <div class="col-sm-3">
        <FluentButton Appearance="Appearance.Accent" @onclick="FetchLog">Refresh</FluentButton>
        <FluentButton Appearance="Appearance.Stealth" @onclick="ClearLog">Clear</FluentButton>
    </div>
</div>

<div class="row" style="margin-top: 15px">
    @if (LogLines is not null)
    {
        <FluentListbox style="width: 100%;">
            @foreach (var line in LogLines)
            {
                <FluentOption style="font-family: 'Courier New', Courier, monospace;">
                    @line
                </FluentOption>
            }
        </FluentListbox>
    }
    else
    {
        <FluentProgressRing style="width: 62px;height: 62px; margin:auto" Paused="false"></FluentProgressRing>
    }
</div>
