@page "/heater-lcd"
@using RpiHomeHub.BlazorWeb.Temperature
@using RpiHomeHub.BlazorWeb.LCD

<style>
    input[type="text"] {
        width: 80%;
    }
</style>

<!--<Title Value="@title" />-->
<h1>@title</h1>

<LCD_Control LineWidth="@lineWidth" LinesCount="@linesCount" />

<br>
<br>

<div class="row">
    <div class="col-md">
        <TemperatureCard />
        <br />
    </div>
    <div class="col-md-7">
        <TemperatureLog />
    </div>
</div>

@code
{
    private const int lineWidth = 16;
    private const int linesCount = 2;

    string title = $"LCD display {lineWidth}x{linesCount}";
}
