@page "/"
@using RpiHomeHub.BlazorWeb.Temperature
@using RpiHomeHub.BlazorWeb.Core.Components
@using RpiHomeHub.BlazorWeb.Lights.Components

<!--<Title Value="@title" />-->
<h1>@title</h1>

<hr />
<BeautifulEquation />
<hr />

<br />

<div class="row inside">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <TemperatureCard ShowThresholdSetting="false" />
    </div>
    <div class="col">
        <AllLightsControlsComponent />
    </div>
</div>

@code {
    string title = "Raspberry Pi Home Control Hub";
}
