@page "/"
@using RpiHomeHub.BlazorWeb.Temperature
@using RpiHomeHub.BlazorWeb.Core

<!--<Title Value="@title" />-->
<h1>@title</h1>

<hr />
<BeautifulEquation />
<hr />

<br />

<div class="row inside">
    <div class="col-md">
        <TemperatureCard ShowThresholdSetting="false" />
    </div>
    <div class="col-md">
        <!--<YeelightPowerControls />-->
    </div>
</div>

@code {
    string title = "Raspberry Pi Home Control Hub";
}
