@page "/lamp"
@using RpiHomeHub.BlazorWeb.Lights.Components
@using RpiHomeHub.BlazorWeb.Lights.Models

<h1>Lamp control page</h1>

<LightControlsComponent Light=@Lamp LightService=@LampService TLightModel="LampModel"  />
