@page "/ledstrip"
@using RpiHomeHub.BlazorWeb.Lights.Components
@using RpiHomeHub.BlazorWeb.Lights.Models
@using RpiHomeHub.BlazorWeb.Colors.Components

<h1>LED Strip control</h1>

<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-4">
        <LightControlsComponent
            Light=@Strip
            LightService=@StripService
            TLightModel="LED_StripModel" />
    </div>
    <div class="col">
        @if (Strip is not null)
        {
            <ColorPicker
                Light="@Strip"
                LightService="@StripService"
                TLightModel="LED_StripModel"
                RefreshEvent="Load" />
        }
    </div>
</div>
