@page "/yeelight"
@using RpiHomeHub.BlazorWeb.Lights.Models
@using RpiHomeHub.BlazorWeb.Lights.Components
@using RpiHomeHub.BlazorWeb.Colors

<h1>Yeelight control</h1>

<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-5">
        <LightControlsComponent Light=@Yeelight LightService=@YeelightService TLightModel="YeelightModel"  />
    </div>
    <div class="col">
        @if (Yeelight is not null)
        {
            <ColorPicker
                LightService="@YeelightService"
                TLightModel="YeelightModel"
                Color="@Yeelight.Color"
                RefreshEvent="async () => Yeelight = await YeelightService.GetStatusAsync()" />
        }
    </div>
</div>
