@page "/yeelight"
@using RpiHomeHub.BlazorWeb.Lights.Models
@using RpiHomeHub.BlazorWeb.Lights.Components

<h1>Yeelight control</h1>

<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-5">
        <LightControlsComponent Light=@Yeelight LightService=@YeelightService TLightModel="YeelightModel"  />
    </div>
    <div class="col">
        <!-- Color picker -->
    </div>
</div>
