@typeparam TLightModel

<div class="colorPickerContainer">
    @if (Colors is not null)
    {
        <div class="row">
            @foreach (var item in Colors)
            {
                <div class="butt-container">
                    @if (ShowLabels)
                    {
                        @if (item.Color.Red == Light.Color.Red && item.Color.Green == Light.Color.Green && item.Color.Blue == Light.Color.Blue)
                        {
                            <p><strong>@item.Name</strong></p>
                        }
                        else
                        {
                            <p>@item.Name</p>
                        }
                    }
                    <div
                        class="color-butt color-butt-effect"
                        style=@SetButtonColor(item.Color)
                        @onclick="() => SendColor(item.Color)" />        
                </div>
            }
        </div>
    }

    <br><p><b>Custom color</b>:</p>

    @if (CustomColor is not null)
    {
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">R</span>
                    <input type="number" min="0" max="255" @bind-value="CustomColor.Red" />
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">G</span>
                    <input type="number" min="0" max="255" @bind-value="CustomColor.Green" />
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">B</span>
                    <input type="number" min="0" max="255" @bind-value="CustomColor.Blue" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-1">
                        <div class="color-butt" style="@SetButtonColor(CustomColor)"></div>
                    </div>
                    <div class="col">
                        <FluentButton @onclick="() => SendColor(CustomColor)" style="margin-top:5px;">
                            Set color
                        </FluentButton>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
